<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhereDoesItHurt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>041E83EE1DDBEA1900B76BBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041E84051DDBEA1A00B76BBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041E84101DDBEA1A00B76BBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
